<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="warn"
      internalLogFile="c:\temp\nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="Database" name="database"
		   connectionString="${configsetting:item=NLog.InitialDefaultConnection}\${configsetting:item=NLog.EndDefaultConnection}">

			<commandText>
				insert into Logs(Id, Date, UserId, Type, TableName, Level, Logger, Message, Header, Ip, Exception, StackTracking, OldState, NewState)
				values(NEWID(), GETDATE(),
				CASE WHEN @userid = '' THEN null ELSE CAST(@userid AS UNIQUEIDENTIFIER) END,
				CASE WHEN @type = '' THEN 1 ELSE CAST(@type AS INT) END,
				CASE WHEN @tableName = '' THEN 'other' ELSE @tableName END,
				@level, @logger, @message, @headers, @ip, @exception, @stackTrace, @oldState, @newState);
			</commandText>

			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@userid" layout="${userid}" />
			<parameter name="@headers" layout="${headers}" />
			<parameter name="@ip" layout="${aspnet-request-ip}" />
			<parameter name="@exception" layout="${exception:format=toString,Data}" />
			<parameter name="@stackTrace" layout="${stacktrace:format=Raw}" />

			<parameter name="@type" layout="${event-properties:item=type}" />
			<parameter name="@message" layout="${event-properties:item=message}" />
			<parameter name="@tableName" layout="${event-properties:item=tableName}" />
			<parameter name="@oldState" layout="${event-properties:item=oldState}" />
			<parameter name="@newState" layout="${event-properties:item=newState}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="${configsetting:item=NLog.LogLevel}" writeTo="database" />
		<logger name="MeuProjeto.Api.Extensions.CustomLogger" minlevel="Info" writeTo="database" />
	</rules>
</nlog>